<header>
    <nav class="nav-grid">
        <a id="home-btn" class="no-link" href="/">
            <div id="home-text" class="btn"> Home </div>
        </a>
        <a id="posts-btn" class="no-link" href="/posts.html">
          <span class="sum-mobile char">|</span>
          <div id="posts-text" class="btn"> Posts </div>
        </a>
        <a id="about-me-btn" class="no-link" href="/aboutme.html">
          <span class="sum-mobile char">|</span>
          <div id="about-me" class="btn"> About Me </div>
        </a>
    </nav>

    
</header>