<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/landing-page.css">
    <link rel="stylesheet" href="/css/about-me.css">
    <link rel="stylesheet" href="/css/experience.css">
    <link rel="stylesheet" href="/css/education.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>