{{>site/templates/head.html}}
<body>
    {{>site/templates/header.html}}

    <div id="index" class="post">
        <h1 class="title"> {{title}} </h1>
    
        {{#author}}
        <h2 class="byline">by {{author}}</h2>
        {{/author}}
    
        <div class="date">{{datePretty}}</div>
        <div class="post-tags">
          <span>Tags: </span>
          {{#tags}}
          <a href="../tags/{{.}}" class="no-link post-link">
            <span class="post-tag" id="{{.}}">{{.}}</span>
          </a>
          {{/tags}}
        </div>
    
        <article class="post-content">
            {{{content}}}
        </article>
    
    </div>

{{>site/templates/footer.html}}
