{{>site/templates/head.html}}
<body>
    {{>site/templates/header.html}}

<div id="page">
    <div class="wrapper">
        <div class="masthead">
            <span class="title">
                {{title}}
            </span>
            <br>

            {{#image}}
            <img class="post-image" src="/images/{{image}}">
            {{/image}}
            <br>
            {{#author}}
            <span class="byline">by {{author}}</span>
            {{/author}}
            <br>
            <span class="date">{{date}}</span>
            <br>
            <div class="metadata">
            </div>
            <div class="tags">
              {{#tags}}
              <span class="tag {{.}}">{{.}}</span>
              {{/tags}}
            </div>
        </div>
    </div>
    <article class="post">
        {{{content}}}        
    </article>

</div>

{{>site/templates/footer.html}}
