{{>site/templates/head.html}}
<body>
    {{>site/templates/header.html}}
    <div id="index" class="post-list">
        <section class="posts">
           <h1 class="title">Posts tagged with {{mainTag}}</h1>
           <div class="metadata">
           </div>
           <ul>
            {{#posts}}
                <li class="post-item">  
                  <div class="detail-container">
                    <a href="{{url}}" class="no-link post-link">
                      <span class="post-title">{{title}}</span>
                    </a>
                    <br>
                    {{#tags}}
                    <span class="post-tag" id="{{.}}">{{.}}</span>
                    {{/tags}}
                  </div>
                  <span class="list-date">{{date}}</span>
                </li>
            {{/posts}}
        </ul>
        </section>
    </div>

{{>site/templates/footer.html}}
